@page "/plans/create"
@using MudBlazor.Extensions
@using Planner.ClientApp.Pages.Plans.Components
@using Planner.ClientApp.Pages.Plans.Models
@using Planner.Core

<PageTitle>Plans</PageTitle>

<h3>Create Plan</h3>
<MudForm>
    <MudTextField T="string" Required="true" @bind-Value="_planName"
        RequiredError="Please supply a name for this plan." />
</MudForm>

<MudExpansionPanels>
    <MudExpansionPanel Text="Members" Expanded="true">
        <MudStack Row="true">
        @if (_members.Count == 0) {
            <MudText Color="Color.Error">Please add at least one member.</MudText>
        }
        @foreach (NewPlanMember member in _members)
        {
            <MudCard Outlined="true">
                <MudCardContent>
                    <MudForm>
                        <MudTextField T="string" Label="Name" Required="true" @bind-Value="member.Name"
                            RequiredError="A name is required!" />
                        <MudDatePicker Label="Birthdate" Editable="true" @bind-Date="member.Birthdate"
                            Mask="@(new DateMask("0000-00-00"))" DateFormat="yyyy-MM-dd" Placeholder="ISO Date"
                            Required="true" RequiredError="A birthdate is required!"
                            Variant="Variant.Outlined" />
                        <MudTextField T="int" Label="Life Expectancy" Required="false" @bind-Value="member.LifeExpectancyInYears" />
                    </MudForm>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error"
                        OnClick="() => RemoveMember(member.Id)">Remove
                    </MudButton>
                </MudCardActions>
            </MudCard>
        }
        </MudStack>
        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="this.ShowCreatePlanMemberAsync" />

    </MudExpansionPanel>
    <MudExpansionPanel Text="Assumptions">
        <PlanAssumptionsComponent @bind-InterestPercent=_defaultInterestPercent  @bind-InflationPercent=_defaultInflationPercent />
    </MudExpansionPanel>
    <MudExpansionPanel Text="Assets">
        <MudStack Row="true">
        @foreach (NewPlanAsset asset in _planAssets)
        {
            <MudCard Outlined="true">
                <MudCardContent>
                    <MudForm>
                        <MudTextField T="string" Label="Name" Required="true" @bind-Value="asset.Name"
                            RequiredError="A name is required!" />
                        <MudSelect T="AssetTaxStatus?" @bind-Value="asset.TaxStatus">
                            <MudSelectItem T="AssetTaxStatus?" Value=AssetTaxStatus.Taxable>Taxable</MudSelectItem>
                            <MudSelectItem T="AssetTaxStatus?" Value=AssetTaxStatus.TaxFree>Tax Free</MudSelectItem>
                        </MudSelect>
                        <MudTextField T="decimal?" Label="Interest Rate %" Required="false" @bind-Value="asset.InterestPercent" />
                        <MudTextField T="decimal?" Label="Amount" Required="false" @bind-Value="asset.Amount" />
                    </MudForm>
                </MudCardContent>
                <MudCardActions>
                    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error"
                        OnClick="() => this.RemoveAsset(asset.Id)">Remove
                    </MudButton>
                </MudCardActions>
            </MudCard>
        }
        </MudStack>
        <MudDivider DividerType="DividerType.Middle" Class="my-6"/>
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="this.ShowCreatePlanAssetAsync" />

    </MudExpansionPanel>
    <MudExpansionPanel Text="Income">
        <MudStack Row="true">
            @foreach (NewPlanIncome income in _planIncomes)
            {
                <MudCard Outlined="true">
                    <MudCardContent>
                        <MudForm>
                            <MudTextField T="string" Label="Name" Required="true" @bind-Value="income.Name"
                                          RequiredError="A name is required!" />
                            <MudTextField T="decimal?" Label="Amount" Required="false" @bind-Value="income.Amount" />
                            <MudSelect T="Guid?" @bind-Value="income.TargetAssetId" Label="Target Asset">
                                @foreach (var asset in _planAssets)
                                {
                                    <MudSelectItem T="Guid?" Value=asset.Id>@asset.Name</MudSelectItem>
                                }
                            </MudSelect>
                            <MudDatePicker Label="Start" HelperText="yyyy-MM-dd" Editable="true" @bind-Date="income.StartDate"
                                           Mask="@(new DateMask("0000-00-00"))" DateFormat="yyyy-MM-dd" Placeholder="Start Date"
                                           FixDay="1" OpenTo="OpenTo.Month" Variant="Variant.Outlined" />

                            <MudDatePicker Label="Start" HelperText="yyyy-MM-dd" Editable="true" @bind-Date="income.EndDate"
                                           Mask="@(new DateMask("0000-00-00"))" DateFormat="yyyy-MM-dd" Placeholder="End Date"
                                           FixDay="1" OpenTo="OpenTo.Month" Variant="Variant.Outlined" />
                        </MudForm>
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                   OnClick="() => this.RemoveIncome(income.Id)">
                            Remove
                        </MudButton>
                    </MudCardActions>
                </MudCard>
            }
        </MudStack>
        <MudDivider DividerType="DividerType.Middle" Class="my-6" />
        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="this.ShowCreatePlanIncomeAsync" />

    </MudExpansionPanel>
</MudExpansionPanels>

<MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Check" Label="Create" Style="position:fixed; right:40px;" OnClick="this.CreatePlanAsync" />


